<%- include("partials/head", { bot, user, path, description, title: "Marksoft - FAQ", url, image }) %>

<h2 style="padding-block-start: 100px; text-align: center; font-size: 26px">
  Frequently Asked Questions
</h2>

<div style="visibility: hidden; position: absolute; inline-size: 0px; block-size: 0px">
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol viewBox="0 0 24 24" id="expand-more">
      <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" />
      <path d="M0 0h24v24H0z" fill="none" />
    </symbol>
    <symbol viewBox="0 0 24 24" id="close">
      <path
        d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
      />
      <path d="M0 0h24v24H0z" fill="none" />
    </symbol>
  </svg>
</div>
<details>
  <summary>
    What is Marksoft discord bot?
    <svg
      class="control-icon control-icon-expand"
      width="24"
      height="24"
      role="presentation"
    >
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="#expand-more"
      />
    </svg>
    <svg
      class="control-icon control-icon-close"
      width="24"
      height="24"
      role="presentation"
    >
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
    </svg>
  </summary>
  <p>
    Marksoft is a multipurpose Discord bot designed to provide a wide range of features and functionality to enhance your server. It can help with moderation, entertainment, music, and much more.
  </p>
</details>

<details>
  <summary>
    How do I change the bot Prefix?
    <svg
      class="control-icon control-icon-expand"
      width="24"
      height="24"
      role="presentation"
    >
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="#expand-more"
      />
    </svg>
    <svg
      class="control-icon control-icon-close"
      width="24"
      height="24"
      role="presentation"
    >
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
    </svg>
  </summary>
  <p>
    You can change Marksoft's default Prefix with
    <code style="color: rebeccapurple">!setPrefix &lt;new Prefix&gt;</code> or
    by heading to the dashboard's main settings page.
  </p>
</details>

<details>
  <summary>
     How do I use commands with Marksoft?
    <svg
      class="control-icon control-icon-expand"
      width="24"
      height="24"
      role="presentation"
    >
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="#expand-more"
      />
    </svg>
    <svg
      class="control-icon control-icon-close"
      width="24"
      height="24"
      role="presentation"
    >
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
    </svg>
  </summary>
  <p>
    You can use Marksoft's commands by typing the command prefix followed by the desired command. For example, if the prefix is "!", you can use "!help" to get a list of available commands.
  </p>
</details>

<details>
  <summary>
    How do I invite Marksoft to my Server?
    <svg
      class="control-icon control-icon-expand"
      width="24"
      height="24"
      role="presentation"
    >
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="#expand-more"
      />
    </svg>
    <svg
      class="control-icon control-icon-close"
      width="24"
      height="24"
      role="presentation"
    >
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
    </svg>
  </summary>
  <p>
    Simply visit <a href="https://discord.com/api/oauth2/authorize?client_id=1003423081123033108&permissions=8&scope=bot%20applications.commands">https://Marksoft.ro</a> in your
    browser, then authorize the application.
  </p>
</details>

<details>
  <summary>
    How do I use the embed Builder?
    <svg
      class="control-icon control-icon-expand"
      width="24"
      height="24"
      role="presentation"
    >
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="#expand-more"
      />
    </svg>
    <svg
      class="control-icon control-icon-close"
      width="24"
      height="24"
      role="presentation"
    >
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
    </svg>
  </summary>
  <p>
    First, simply fill out the embed that you want, then press on the send
    button which is located at the bottom right of the page. Once clicked, you
    will have the option of sending it to a channel of your choice, to save it
    as a custom command, or send it as a webhook.
  </p>
</details>

<details>
  <summary>
    Can I create custom commands with Marksoft?
    <svg
      class="control-icon control-icon-expand"
      width="24"
      height="24"
      role="presentation"
    >
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="#expand-more"
      />
    </svg>
    <svg
      class="control-icon control-icon-close"
      width="24"
      height="24"
      role="presentation"
    >
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
    </svg>
  </summary>
  <p>
    Yes you can add up to 25 custom commands for regulars, unlimited with Premium.
  </p>
</details>

<details>
  <summary>
    How do I configure Marksoft for my server?
    <svg
      class="control-icon control-icon-expand"
      width="24"
      height="24"
      role="presentation"
    >
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="#expand-more"
      />
    </svg>
    <svg
      class="control-icon control-icon-close"
      width="24"
      height="24"
      role="presentation"
    >
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
    </svg>
  </summary>
  <p>
    You can configure Marksoft using the dashboard (website), all configurations settings are there for you to explore.
  </p>
</details>

<details>
  <summary>
    Can I customize bot responses and behavior?
    <svg
      class="control-icon control-icon-expand"
      width="24"
      height="24"
      role="presentation"
    >
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="#expand-more"
      />
    </svg>
    <svg
      class="control-icon control-icon-close"
      width="24"
      height="24"
      role="presentation"
    >
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
    </svg>
  </summary>
  <p>
    You can customize all of bot's responses with Premium.
  </p>
</details>
<br />
<br />
<%- include("partials/mainfooter") %> <%- include("partials/footer") %>

<style>
  details {
    inline-size: 75%;
    min-block-size: 5px;
    max-inline-size: 700px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border-radius: 15px;
    box-sizing: border-box;
    transition: all 0.3s;
  }

  details + details {
    margin-block-start: 20px;
  }

  details[open] {
    min-block-size: 50px;
    background-color: #2f2f2f;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  }

  details p {
    color: #ffffff;
    font-weight: 300;
  }

  summary {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }

  summary:focus {
    outline: none;
  }

  summary:focus::after {
    content: "";
    block-size: 100%;
    inline-size: 100%;
    display: block;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    box-shadow: 0 0 0 5px rebeccapurple;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .control-icon {
    fill: rebeccapurple;
    transition: 0.3s ease;
    pointer-events: none;
  }

  .control-icon-close {
    display: none;
  }

  details[open] .control-icon-close {
    display: initial;
    transition: 0.3s ease;
  }

  details[open] .control-icon-expand {
    display: none;
  }
</style>
