<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Race</title>
    <style>
        .car {
            width: 50px;
            height: 30px;
            background-color: red;
            position: absolute;
            top: 0;
            left: 0;
            transition: left 5s linear;
        }
    </style>
</head>
<body>
    <div class="track" style="position: relative; width: 600px; height: 100px; border: 1px solid black;">
        <div class="car" id="car"></div>
    </div>

    <button onclick="startRace()">Start Race</button>

    <script>
        function startRace() {
            const car = document.getElementById('car');
            const trackWidth = document.querySelector('.track').offsetWidth;
            car.style.transition = 'none';
            car.style.left = '0px';

            // Move the car to the end of the track
            setTimeout(() => {
                car.style.transition = `left 5s linear`;
                car.style.left = `${trackWidth - car.offsetWidth}px`;
            }, 100);
        }
    </script>
</body>
</html>
