<%- include("partials/head", { bot,  user, path, description, title: "Marksoft - Team",  url, image }) %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="titlehover2">
  <h1 style="text-align: center; font-size: 45px ">Meet the Developers!</h1>
  </div>
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">





  <br>
  <br>
  <br>
  <br>
<style>


</style>
<%- include("partials/mainfooter") %>
<%- include("partials/footer") %>
