<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<button id="return-to-top"><i class="icon-chevron-up"></i></button>

<link
  href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<div id="mobileScreen">
  <footer>
    <nav class="footer-inner">
      <section class="footer-item">
        <h2> .</h2>
      </section>

      <section class="footer-item">
        <h1 style="font-size: 40px; text-shadow: 0 0 5px rgba(168, 168, 168, 0.5), 0 0 10px rgba(255, 0, 0, 0.7), 0 0 15px rgb(255, 23, 6);">
          Marksoft
        </h1>

        <h2>
          Marksoft is a multi-purpose discord bot <br />ready to skill up and boost
          up <br />your Discord server!
        </h2>
        <br />
      </section>

      <section class="footer-item">
        <h3>Useful links</h3>
        <ul>
          <li><a href="/policy">Policy</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/premium">Premium</a></li>
        </ul>
      </section>

      <section class="footer-item"></section>

      <section class="footer-item">
        <ul>
          <li><a href="/report">Report</a></li>
          <li><a href="/changelog">Latest updates</a></li>
          <li><a href="/support">Support</a></li>
          <li><a href="/Embeds">Embeds</a></li>
        </ul>
      </section>

      <section class="footer-item">
        <h3>Contact</h3>
        <ul>
          <p>
            <i class="fab" style="font-size: 16px"> &#xf392; </i>
            Thomas#3267<br /><a href="/contact">or here</a>
          </p>
        </ul>
      </section>

      <section class="footer-item">
        <div class="hover"></div>
      </section>
    </nav>
  </footer>

<style>
  #return-to-top {
    border: none;
    position: fixed;
    inset-block-end: 20px;
    inset-inline-end: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    inline-size: 50px;
    block-size: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    inset-inline-start: 1px;
    inset-block-start: 1px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
  }
  #return-to-top:hover i {
    color: #fff;
    inset-block-start: 5px;
  }

  .right {
    position: absolute;
    inset-inline-end: 0;
    margin-inline-end: 80px;
    background-color: #7289da;
    border: 2px solid #7289da;
    color: #fff;
    display: inline-block;
    font-family: Whitney, "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11pt;
    border-radius: 3px;
    cursor: pointer;
    block-size: 45px;
    inline-size: 250px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  }
  .inset-inline-end:active {
    transform: translateY(2px);
  }
  .inset-inline-end:hover {
    transform: translateY(1px);
  }
  .ready {
    margin-block-start: 100px;
    margin-block-end: 100px;
    margin-inline-end: 150px;
    margin-inline-start: 120px;
  }
  footer {
    background-color: #222222;
    font-family: "Lato", sans-serif;
  }

  .footer-inner {
    inline-size: 90%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-end: 120px;
    position: relative;
  }

  .footer-item {
    float: inline-start;
    margin: 0 10% 0 0;
  }

  .footer-item:nth-of-type(4) {
    display: none;
  }

  .footer-item:nth-of-type(7) {
    float: inline-end;
    margin-inline-end: 0;
  }

  .footer-button {
    color: white;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    transition: 1s;
    transition-delay: 0.2s;
    padding: 14px;
  }

  .footer-button:after {
    content: "";
    position: absolute;
    inset-block-start: 45px;
    inset-inline-end: 13px;
    background-color: white;
    block-size: 1px;
    inline-size: 86px;
    transition: 0.6s;
  }

  .footer-button:hover {
    color: black;
    background-color: white;
  }

  .footer-button:hover:after {
    inline-size: 112px;
    inset-inline-end: 0px;
  }

  h1 {
    font-weight: 900;
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    margin: 0;
    padding-block-end: 10px;
  }

  h2 {
    font-weight: 300;
    line-height: 1.8;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
    padding: 15px 0 0 0;
  }

  .color {
    color: white;
    font-weight: 400;
  }

  h3 {
    font-weight: 400;
    font-size: 13px;
    color: white;
    margin: 0;
    padding-block-end: 9px;
    letter-spacing: 0.03em;
  }

  h3.desktop {
    padding-block-start: 30px;
  }

  ul {
    line-height: 1.8;
    list-style-type: none;
    padding: 0;
  }

  li {
    font-weight: 300;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
  }

  p {
    font-weight: 300;
    font-size: 13px;
    padding: 0;
    line-height: 1.8;
    letter-spacing: 0.03em;
  }

  a {
    text-decoration: none;
    color: #d1d1d1;
  }

  a:hover {
    color: white;
  }

  .desktop {
    display: auto;
  }

  .footer-inner:after {
    content: "© Marksoft 2024 , All rights reserved";
    font-weight: 300;
    letter-spacing: 0.03em;
    font-size: 13px;
    color: #d1d1d1;
    position: absolute;
    inset-block-start: 260px;
    clear: both;
    display: block;
  }

  @media (max-inline-size: 1024px) {
    footer {
      padding: 50px 0 70px 0 !important;
    }

    .footer-inner {
      border-block-end: 1px solid #333;
      padding-block-end: 490px;
      margin-block-end: 50px;
    }

    .footer-item {
      margin: 0 0 42px 0;
      inline-size: 50%;
    }

    .footer-item:nth-of-type(1) {
      border-block-end: 1px solid #333;
      padding-block-end: 32px;
      float: none;
      inline-size: 100%;
    }

    .footer-item:nth-of-type(2) {
      clear: both;
    }

    .footer-item:nth-of-type(4) {
      clear: both;
      display: block;
    }

    .footer-item:nth-of-type(6) {
      clear: both;
    }

    .footer-item:nth-of-type(7) {
      clear: both;
      float: inline-start;
      margin: 20px 0 0 -13px;
    }

    .desktop {
      display: none;
    }

    .footer-inner:after {
      inset-block-start: 730px;
    }
  }

  .hover {
    inline-size: 200px;
    block-size: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url("<%= domain %>/logo.png");
    animation: hover 3s infinite linear;
  }
  @keyframes hover {
    0% {
      inset-block-start: 0px;
    }
    50% {
      inset-block-start: 80px;
    }
    100% {
      inset-block-start: 0px;
    }
  }
  #mobileScreen {
    display: block;
  }

  @media only screen and (max-inline-size: 1024px) {
    #mobileScreen {
      display: none;
    }
  }
</style>
<script>
  function PopupCenter(e, n, t, i) {
    var o = void 0 != window.screenLeft ? window.screenLeft : screen.left,
      d = void 0 != window.screenTop ? window.screenTop : screen.top,
      c = window.innerWidth
        ? window.innerWidth
        : document.documentElement.clientWidth
        ? document.documentElement.clientWidth
        : screen.width,
      w = window.innerHeight
        ? window.innerHeight
        : document.documentElement.clientHeight
        ? document.documentElement.clientHeight
        : screen.height,
      r = c / 2 - t / 2 + o,
      h = w / 2 - i / 2 + d,
      s = window.open(
        e,
        n,
        "scrollbars=yes, width=" +
          t +
          ", height=" +
          i +
          ", top=" +
          h +
          ", left=" +
          r
      );
    window.focus && s.focus();
  }
</script>
<script>
  $(window).scroll(function () {
    if ($(this).scrollTop() >= 50) {
      // If page is scrolled more than 50px
      $("#return-to-top").fadeIn(200); // Fade in the arrow
    } else {
      $("#return-to-top").fadeOut(200); // Else fade out the arrow
    }
  });
  $("#return-to-top").click(function () {
    // When arrow is clicked
    $("body,html").animate(
      {
        scrollinset-block-start: 0, // Scroll to top of body
      },
      500
    );
  });
</script>
